<template class="templateFormBook">
<Header />
<div class="body">
    <div id="form-conteiner" >
      <div v-if="failed">Algo salio mal. Intente de nuevo!</div>
        <form class="Form" @submit.prevent="createAccount">
            <div v-if="hotel">
              Precio Total: ${{ hotel.price_per_people * booking.total_person }}
            </div>
            <div class="mb-3"> 
              <label class="labelForm">Cantidad de personas</label>   
              <input class="inputPer" v-model="booking.total_person" type="number" />
              <br />
            </div>
            <div id="datepicker-container">
              <div class="mb-3" id="date-container">
                <div>
                  <label class="labelForm">Fecha de Inicio</label>
                  <datepicker-lite 
                  class="datePicker"
                  :value-attr="datepickerBegining.value"
                  :locale="datepickerBegining.locale"
                  @value-changed="datepickerBegining.changeEvent"
                  ></datepicker-lite> 
                </div>
                <div>
                  <label class="labelForm">Fecha de Salida</label>
                  <datepicker-lite class="datePicker"
                  :value-attr="datepickerEnding.value"
                  :locale="datepickerEnding.locale"
                  @value-changed="datepickerEnding.changeEvent"></datepicker-lite>
                </div>   
              </div>
            </div>
            
  
            <button id="reservar-button" type="submit" class="btn btn-primary">Reservar</button>
        </form>
        <div class="back-button-conteiner">
          <button id="back-button" class="btn btn-primary" @click="loadHome">Volver al inicio</button>
        </div>
    </div>

</div>
 <Footer />    
</template>
<script>
import axios from 'axios';
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import DatepickerLite from 'vue3-datepicker-lite';
import { computed } from "vue";
import { useStore } from "vuex";
import UserBookingVue from './UserBooking.vue';
export default {

  name: "FormB",

  
  components:{
    DatepickerLite,
    Header,
    Footer
  },

  data: function () {
    
    return {
        booking: {
            total_person: 1,
            total_price:"",
            begining_date: "",
            ending_date: "",
            user: this.$store.state.userData.id,
            hotel: parseInt(this.$route.params.id),
        },
        failed: false,
        hotel: null,
        datepickerBegining: {
          id: "begining_date",
          name: "begining_date",
          value: "2020/10/01",
          placeholder: "Select",
          locale: {
            format: "YYYY-MM-DD",
            weekday: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            months: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            startsWeeks: 0,
            todayBtn: "Today",
            clearBtn: "Clear",
            closeBtn: "Close",
          },
          changeEvent: (value) => {
            this.booking.begining_date = value;
          },
        },
        datepickerEnding: {
          id: "ending_date",
          name: "ending_date",
          value: "2020-10-02",
          placeholder: "Select",
          locale: {
            format: "YYYY-MM-DD",
            weekday: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            months: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            startsWeeks: 0,
            todayBtn: "Today",
            clearBtn: "Clear",
            closeBtn: "Close",
          },
          changeEvent: (value) => {
            this.booking.ending_date = value;
          },
          disableInput: false,
        },
    };
  },
  
  methods: {
      createAccount: async function()
      {
        
        try{
          let url = '/api/booking-user/';
          let body = this.booking;
          const headers = {
            "Authorization": `Token ${this.token}`
            
          };
          await axios.post(url, body, {headers})
          console.log("reserva realizada")
          this.$router.push({name:'UserBooking'})
        }catch(er){
          console.log(er)
          console.log(this.booking)
          alert("Error inesperado")
        }

        

      },
      loadHome: function(){
        this.$router.push({name:"Home"});
      }
   },
   setup: function() {
    const store = useStore();
    let hotels = computed(function() {
      return store.state.hotels;
    });
    let auth = computed(function() {
      return store.state.isAuthenticated;
    });
    let token = computed(function() {
      return store.state.token;
    });
    return {
      hotels,
      auth,
      token,
    };
  },
    created: function () {
      const id = this.$route.params.id;
      const hotels = JSON.parse(JSON.stringify(this.hotels))
      if (!hotels.length) {
          axios.get(`/api/hotel/${id}/`).then((res) => this.hotel = res.data)
      }
      else {
          this.hotel = hotels.find((hotel) => hotel.id == id)
          }
    },
}
</script>
<style >
.body {
  height: 600px;
}
#form-conteiner{
  top: 50%;
  left: 50%;
  transform: translate(50%, 18%);
  border: 3px solid #cea866;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px; 
  padding: 50px;
  background-color: rgb(248, 248, 248);
  gap: 20px 20px;
}
#reservar-button{
  margin-top: 40px;
}
.back-button-conteiner{ 
  margin-top: 10px;
}
#datepicker-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  margin: 5px;
  gap: 10px 20px;
  
  
}
#container-person{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.labelForm{
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 15pt;
  
}
.inputPer{
  margin-left: 20px;
  border: 2px solid grey;
}
#reservar-button{
  font-size: 15pt;
}
#back-button{
  background-color: rgb(83, 121, 27);
  font-size: 15pt;
}
.datePicker{
  margin-top: 10px;
  border: 1px solid grey;
}
#date-container{
  display: flex;
  flex-direction: row;
  gap: 20px 30px;
 
}
.templateFormBook{
  background-color: #283747;
}
</style>

