<template>
  <Header />
  <Banner />
  <Services />
  <Footer />
  
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Banner from "../components/Banner.vue";
import Services from "../components/Services.vue";
import Footer from "../components/Footer.vue";

import { computed } from "vue";
import { useStore } from "vuex";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Header,
    Banner,
    Services,
    Footer,
  },
  data: function () {
    return {
      bookings: []
    }
  },
  setup: function() {
    const store = useStore();
    let auth = computed(function() {
      return store.state.isAuthenticated;
    });
    let token = computed(function() {
      return store.state.token;
    });


    return {
      auth,
      token,
    };
  },
};
</script>
