<template>
    <div v-for="hotel in hotels">
        <Hotel 
        v-bind:key="hotel.id"
        v-bind:stars="hotel.stars"
        v-bind:name="hotel.name"
        v-bind:picture="hotel.picture"
        />
    </div>
</template>

<script>
import Hotel from "@/components/Hotel.vue"
export default {
    name: "HotelList",
    components: {
        Hotel
    },
    data: function (){
        return {hotels: []}
    },
    created: function (){
        axios.get().then(this.hotels = res.data)
    }
}
</script>