<template>
<Header />
    <div class="col-sm-6" v-if="hotel">
    <div class="rooms">
      <img :src="hotel.picture" class="img-responsive">
      <div class="info">
        <h3>{{ hotel.name }}</h3>      
        <p>Ciudad: {{ hotel.city }}</p>
        <p>Dirección: {{ hotel.address }} </p>
        <p>Estrellas: {{ hotel.stars}} </p> 
        <p>Precio: {{ hotel.price_per_people}}</p>
        <router-link :to="{ name: 'FormBooking', params: {id: hotel.id }}" class="btn btn-primary">Reservar</router-link>
      </div>
    </div>
  </div>
  <div v-else>Cargando...</div>
  <div class="container bootdey">
<div class="col-md-12 bootstrap snippets">
<div class="panel">
  <div class="panel-body">
    <div v-if="error">Algo salio mal</div>
    <form v-on:submit.prevent="createReview">
      <textarea class="form-control" rows="2" placeholder="What are you thinking?" v-model="reviewData.opinion"></textarea>
      <div class="mar-top clearfix">
        <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
      </div>
    </form>
  </div>
</div>
<div class="panel">
    <div class="panel-body">
    <div class="loader" v-if="creatingReview">Cargando...</div>
    <!--===================================================-->
    <div class="media-block" v-for="review in reviews" :key="review.id">
      <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="https://www.personality-insights.com/wp-content/uploads/2017/12/default-profile-pic-e1513291410505.jpg"></a>
      <div class="media-body">
        <div class="mar-btm">
          <a href="#" class="btn-link text-semibold media-heading box-inline">{{ review.user }}</a>
          <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> {{ new Date(review.updated_at).toUTCString().slice(0, -4)}}</p>
          <p>Stars: {{ review.score }}</p>
        </div>
        <p>{{ review.opinion }}</p>
        <div class="pad-ver">
          <div class="btn-group">
            <a class="btn btn-sm btn-primary btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
            <a class="btn btn-sm btn-primary btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<Footer />
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";
export default {
    name: "Hotel",
    data: function(){
        return {
            hotel: null,
            reviews: null,
            reviewData: {
              opinion: "",
              hotel: this.$route.params.id,
              score: 5,
            },
            error: false,
            creatingReview: false
        }
    },
    components: {
        Header,
        Footer
    },
    methods: {
      createReview: function() {
        this.creatingReview = true;
        if (this.$store.state.isAuthenticated){
          const headers = {
            Authorization: `Token ${this.$store.state.token}`
          }
          axios.post('/api/review-user/', this.reviewData ,{headers})
          .then((response) => {
            this.fetchData()
            .then(() => this.reviewData.opinion = "")
            .finally(() => this.creatingReview = false);
          })
          .catch((err) => this.error = true)
        } else {
          this.$router.push({
				name: 'Login', query: { redirectFrom: this.$route.fullPath }
			})
        }
      },
      fetchData: function(){
        return axios.get(`/api/hotel/${this.$route.params.id}/`)
    .then((res) => {
      if (!this.hotel){
        this.hotel = res.data.hotel
      }
      this.reviews = res.data.reviews
      })
      }
    },
    setup: function() {
    const store = useStore();
    let hotels = computed(function() {
      return store.state.hotels;
    });
    return {
      hotels,
    };
  },
  created: function(){
      const id = this.$route.params.id;
      const hotels = JSON.parse(JSON.stringify(this.hotels))
      if (hotels.length) {
          this.hotel = hotels.find((hotel) => hotel.id == id)
      }
      this.fetchData();
    
  }
}
</script>

<style scoped>
.rooms{
    top: 50%;
    left: 50%;
    transform: translate(50%, 1%);
    border: 3px solid #cea866;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    text-align: center;
    width: 600px;
    padding: 70px;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
    padding: 25px 20px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}
</style>