<template>
  <Header />
  <Items />
  <Footer />
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Banner from '../components/Banner.vue'
import Services from '../components/Services.vue'
import Footer from '../components/Footer.vue'
import Items from '../components/Items.vue'

export default {
  name: 'Home',
  components: {
    Header,
    Banner,
    Services,
    Footer,
    Items
  }
}
</script>
