<template>
<Header />
<div class="bodyBookings">
    <div class="container container_booking">
        <h2>Reservas</h2>
        <div>
            <table class="table" v-if="bookings.length">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Total Persona
                    </th>
                    <th>
                        Precio Total($)
                    </th>
                    <th>
                        Fecha Inicio
                    </th>
                    <th>
                        Fecha Salida
                    </th>
                    <th>
                        Hotel
                    </th>
                </tr>
                <tr v-for="(booking, index) in bookings" :key="index">
                    <td>
                       
                        {{booking.id}}
                    </td>
                    <td>
                        
                        {{booking.total_person}}
                    </td>
                    <td>
                        
                        {{booking.total_price}}
                    </td>
                    <td>
                        {{booking.begining_date}}
                    </td>
                    <td>
                        {{booking.ending_date}}
                    </td>
                    <td>
                        {{booking.hotel}}
                    </td>
                    <td class="buttons">
                        <button class="editButton">Editar</button>
                        <button class="deleteButton" @click="deleteAccount(booking.id)">Borrar</button>
                    </td>
                </tr>
                
            </table>
            <div v-if="!bookings.length">
                <p>
                    No hay Reservas
                </p>
            </div>
            <div class="container-button">
                <button type="button" class="btn btn-primary btn-lg" @click="backToHome">Volver al inicio</button>
            </div>
                        
        </div>
    </div>
</div>
<Footer />
</template>

<script>
import axios from 'axios';
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import { computed } from "vue";
import { useStore } from "vuex";

export default {
  name: "UserBooking",

  data: function () {
    return {
        bookings: []
    };
  },
  setup: function() {
    const store = useStore();
    let auth = computed(function() {
      return store.state.isAuthenticated;
    });
    let token = computed(function() {
      return store.state.token;
    });
    return {
      auth,
      token,
    };
  },
  components: {
        Header,
        Footer
    },
  methods: {
        loadmodBooking: function(){
            this.$router.push({name: 'modBooking'});
        },
        backToHome: function(){
            this.$router.push({name:'Home'})
        },  
        
        lisBooking: function(){
            let url = '/api/booking-user/';
            const headers = {
                "Authorization": `Token ${this.token}`
            }          
            axios.get(url, {headers})
            .then((res) => {
                 this.bookings = res.data;
                 console.log(res.data);
            })
            .catch(err => console.log(err));
        },
        
       deleteAccount: async function(id){
           try{
              let url = '/api/booking-user/' + id;
              const headers = {
                "Authorization": `Token ${this.token}`
                } 
              await axios.delete(url, {headers});
              this.lisBooking();
              
           }catch(error){
              console.log(error)
              alert("Ocurrió un error inesperado")
          }         
       },  
       
  },
  created: function(){
          this.lisBooking();
       }    
 
};
</script>

<style>
    .bodyBookings{
        height: 600px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .container_booking { 
        border: 3px solid #cea866;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        padding: 70px;
        background-color:rgb(248, 248, 248);
    }
    .table{
        margin-top: 25px;
        border-collapse: separate;
        border-spacing: 20px 5px;
    }
    .deleteButton{
        background-color: rgb(182, 47, 7);
        color: white;
        padding: 10px;
    }
    .editButton{
        background-color: rgb(79, 138, 79);
        color: white;
        padding: 10px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .bodyBookings{
        background-color: white;
    }
   
    
</style>