<template>
    <div class="banner">    	   
    <img :src="image"  class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information">
                <h1  class="animated fadeInDown">Tu hotel ideal
                </h1>
                <p class="animated fadeInUp">Esto para nada, absolutamente para nada, es una copia de Trivago</p>                
            </div>
            <a href="#information" class="arrow-nav scroll wowload fadeInDownBig"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
</template>

<script>
import image from "../assets/images/photos/banner.jpg"
export default {
  name: 'Banner',
  data: function () {
        return {
            image: image
        }
    }
}

</script>