<template>
    <nav class="navbar  navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand"><a class="navbar-brand" href="index.php"><img :src="image"  alt="holiday crown"></a><span>Travel Guest</span></div>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          
          <div v-if="!isAuthenticated">
            <ul class="nav navbar-nav">
                     
              <li><router-link to="/">Inicio</router-link>   </li>
              <li><router-link to="/hotels">Hoteles</router-link>   </li>        
              <li><router-link to="/contact">Contacto</router-link></li>
              <li><router-link to="/login">Iniciar Sesión</router-link></li>
              <li><router-link to="/register">Registro</router-link></li>
              
              
            </ul>
          </div>
          <div v-else>
                        <ul class="nav navbar-nav">
              
              <li><router-link to="/">Inicio</router-link>   </li>
              <li><router-link to="/hotels">Hoteles</router-link>   </li>        
              <li><router-link to="/contact">Contacto</router-link></li>
              <li><router-link to="/profile">Perfil</router-link></li>
              <li><a @click="loadBooking">Reservas</a></li>
              <li><a @click="logoutHandler">Salir</a></li>
            </ul>
          </div>
        </div><!-- Wnavbar-collapse -->
      </div><!-- container-fluid -->
    </nav>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";
import image from "../assets/images/logo.png"
export default {
  name: 'Header',
  data: function () {
        return {
            image
        }
    },
    methods: {

      loadBooking: function()
    {
      this.$router.push({name:"UserBooking"});
    },


      logoutHandler: function(){
        console.log(this)
          this.store.dispatch("logout").then(() => {
        this.$router.push({
          name: "Home"
        })
        }
      );

      }
    },
      setup() {
    const store = useStore();
    let isAuthenticated = computed(function() {
      return store.state.isAuthenticated;
    });


    return {
      isAuthenticated,
      store
    };
      }
}
</script>
<style scoped>
.brand {
  display: flex;
  align-items: center;
}

.brand span {
  font-weight: 700;
  font-size: 2rem;
}
</style>