<template>
    {{name}}
    <img :src="picture" />
    {{stars}}
</template>

<script>
export default {
    name: "Hotel",
    props: {
        name, 
        stars,
        picture
    }
}
</script>

<style scoped>

</style>