<template>
    <div class="container">

<h2>Tu hotel ideal</h2>

<div class="roww">
  <div v-if="!hotels.length" class="loader">Cargando...</div>
  <div v-for="hotel in hotels" class="hotell">
    <div class="rooms card">
      <img :src="hotel.picture" class="img-responsive card-img-top">
      <div class="info card-body">
        <h3>{{ hotel.name }}</h3>
      
        <p> {{ hotel.city }}: {{ hotel.address }}</p>
        <router-link :to="{ name: 'Hotel', params: {id: hotel.id } }" class="btn btn-default">Check Details</router-link>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import imageEight from "../assets/images/photos/8.jpg"
import imageNine from "../assets/images/photos/9.jpg"
import imageTen from "../assets/images/photos/10.jpg"
import imageEleven from "../assets/images/photos/11.jpg"
import { computed } from "vue";
import { useStore } from "vuex";
export default {
  name: 'Items',
  data: function () {
        return {
            imageEight,
            imageNine,
            imageTen,
            imageEleven,
        }
    },

    setup: function() {
    const store = useStore();
    let hotels = computed(function() {
      return store.state.hotels;
    });
    return {
      store,
      hotels,
    };
  },
  created: function(){
    this.store.dispatch("loadHotels");
       }   
}
</script>
<style scoped>
  .roww {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-items: center;
  justify-content: center;
  gap: 20px;
  }

</style>
