<template>
    <div class="spacer services wowload fadeInUp">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- RoomCarousel -->
            <div id="RoomCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="item active"><img :src="imageEight" class="img-responsive" alt="slide"></div>                
                <div class="item  height-full"><img :src="imageNine"  class="img-responsive" alt="slide"></div>
                <div class="item  height-full"><img :src="imageTen"  class="img-responsive" alt="slide"></div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#RoomCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right carousel-control" href="#RoomCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- RoomCarousel-->
            <div class="caption">Habitaciones de lujo<a href="rooms-tariff.php" class="pull-right"><i class="fa fa-edit"></i></a></div>
        </div>


        <div class="col-sm-4">
            <!-- RoomCarousel -->
            <div id="TourCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="item active"><img :src="imageSix" class="img-responsive" alt="slide"></div>
                <div class="item  height-full"><img :src="imageThree"  class="img-responsive" alt="slide"></div>
                <div class="item  height-full"><img :src="imageFour"  class="img-responsive" alt="slide"></div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#TourCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right carousel-control" href="#TourCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- RoomCarousel-->
            <div class="caption">Viajes<a href="gallery.php" class="pull-right"><i class="fa fa-edit"></i></a></div>
        </div>


        <div class="col-sm-4">
            <!-- RoomCarousel -->
            <div id="FoodCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="item active"><img :src="imageOne" class="img-responsive" alt="slide"></div>
                <div class="item  height-full"><img :src="imageTwo"  class="img-responsive" alt="slide"></div>
                <div class="item  height-full"><img :src="imageFive"  class="img-responsive" alt="slide"></div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#FoodCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right carousel-control" href="#FoodCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- RoomCarousel-->
            <div class="caption">Comidas<a href="gallery.php" class="pull-right"><i class="fa fa-edit"></i></a></div>
        </div>
    </div>
</div>
</div>
</template>

<script>
import imageEight from "../assets/images/photos/8.jpg"
import imageNine from "../assets/images/photos/9.jpg"
import imageTen from "../assets/images/photos/10.jpg"
import imageOne from "../assets/images/photos/1.jpg"
import imageTwo from "../assets/images/photos/2.jpg"
import imageThree from "../assets/images/photos/3.jpg"
import imageFour from "../assets/images/photos/4.jpg"
import imageFive from "../assets/images/photos/5.jpg"
import imageSix from "../assets/images/photos/6.jpg"
export default {
  name: 'Services',
  data: function () {
        return {
            imageOne,
            imageTwo,
            imageThree,
            imageFour,
            imageFive,
            imageSix,
            imageEight,
            imageNine,
            imageTen,
        }
    }
}

</script>
